

BODY
{
	BACKGROUND: #002948;
	COLOR: white;
/*
	BGCOLOR: #002948
	SCROLLBAR-HIGHLIGHT-COLOR: #002948;
	SCROLLBAR-SHADOW-COLOR: #002948;
	SCROLLBAR-3DLIGHT-COLOR: #002948;
	SCROLLBAR-ARROW-COLOR: #002948;
	SCROLLBAR-DARKSHADOW-COLOR: #002948;
*/
}

TH
{
	COLOR: white;
}

TD
{
	COLOR: white;
}

H2
{
	COLOR: white;
}

H3
{
	COLOR: white;
}

FORM
{
	COLOR: white;
}

.normal
{
	COLOR: white;
}

A:link
{
	COLOR: #FFCC1D;
}

A:visited
{
	COLOR: #D48200;
}

A:hover
{
	COLOR: #FF0000;
}

H1 A:link
{
	COLOR: #D48200;
}

H1 A:visited
{
	COLOR: #D48200;
}

H1 A:hover
{
	COLOR: #D48200;
}

.msg
{
	COLOR: black
}

.important
{
	BORDER-COLOR: black;
	COLOR: black;
	BACKGROUND-COLOR: #ffff00
}

.important A
{
	COLOR: #0000ff
}

.important A:visited
{
	COLOR: #0000ff
}

.big
{
}

.subdued
{
	COLOR: #008897
}

.indent
{
}

INPUT
{
	BACKGROUND: white;
	COLOR: #002948
}

.imgbutton
{
	BACKGROUND: #FFA71D
}

.typelist
{
}

.typelist:before
{
}

.typelist:after
{
}

A.link_button
{
	BORDER-COLOR: #FF6969;
	BACKGROUND: #D48200;
	COLOR: black;
}

A.link_button:visited
{
}

A.link_button:active
{
}

A.link_button:hover
{
	BACKGROUND: #FFCC1D;
}

.diff
{
	BORDER-COLOR: #c0a678;
	COLOR: black;
	BACKGROUND-COLOR: #f2f2f2;
}

.diff B
{
}

.diff .plus
{
	BACKGROUND-COLOR: #acc
}

.diff .minus
{
	BACKGROUND-COLOR: #f99
}

.togglep
{
	COLOR: black;
	BACKGROUND-COLOR: #0bb
}

.togglem
{
	FONT-SIZE: 12px;
	COLOR: black;
	BACKGROUND-COLOR: #f99
}

.diff TD
{
	COLOR: black;
}

DIV.search
{
}

div.search > h3, div.menu > h3
{
}

div.search > p
{
}

DIV.menu_groups
{
}

DIV.menu
{
}

div.menu > h3
{
}

div.menu > ul, div.recent > ul
{
}

DIV.left_half
{
}

DIV.right_half
{
}

div.right_half > div
{
}

DIV.middle
{
}

div.middle > div
{
}

div.middle > div > div
{
}

DIV#links
{
}

DIV.recent
{
}

div.recent > h3
{
}

DIV.clearing
{
}

TEXTAREA.big_input
{
	BACKGROUND: white;
}

TR.even
{
	BACKGROUND: #00355D
}

TR.odd
{
	BACKGROUND: #002948
}

.entry TR.even
{
	BACKGROUND: #00355D;
}

.entry TR.odd
{
	BACKGROUND: #002948;
}

.column
{
}

.selected
{
	BACKGROUND: #EEBB1D;
	COLOR: black;
}

.same_place
{
	BACKGROUND: #004070;
}

.selected:link
{
	COLOR: black;
}

.selected:visited
{
	COLOR: black;
}

.selected:hover
{
	BACKGROUND: #FF0000;
}

#admin_menu
{
}

.entry TH
{
	BORDER-COLOR: #f9b782;
}

.entry TR:first-child TH
{
}

.entry TD
{
	BORDER-COLOR: #f9b782;
}

.entry TABLE
{
}

.notice
{
	border-color: #f9b782;
}


.viewbox .inner
{
	BACKGROUND-COLOR: #EFE;
	color:	black;
}

.viewbox h3
{
	BACKGROUND-COLOR: #AFA;
	COLOR: black;
}


.viewbox TH
{
	COLOR: black;
}

.viewbox TD
{
	COLOR: black;
}

.viewbox H2
{
	COLOR: black;
}

.highlight
{
	COLOR: black;
	BACKGROUND-COLOR: #ffff00
}
