<div class="entry">
<table cellpadding="10">
[% FOREACH pair = multi_content %]
   [% te = pair.1 %]
   [% alias = pair.0 %]
   [% tr2 %]
      <td>[% jump(alias, te.file) %]<br>
         [% INCLUDE typelist.tt t=te %]
      </td>
      <td>
[% IF te.entry %]
   [% te.outline %]
[% ELSE %]
   [% te.text %]
[% END %]
      </td>
   </tr>
[% END %]
</table>
</div>
