[% UNLESS t.entry %]
[% DEFAULT m = u %]
[% jump('Visa ditt intresse', m.interest(t).next_step(redefine=1).template, tid=tid, mid=m.id class='link_button') %]
[% jump('Navigera', "/member/db/topic/view/tree", tid=tid class='link_button') %]
[% END %]
