[% DEFAULT replace = 'tid' %]
[% DEFAULT view = me %]
   <h3>Flera ämnen har aliaset <code>[% q.param($replace) %]</code></h3>
   <table>
   [% FOREACH t = list %]
      <tr><td>$t.id <td>[[% forward('välj', view, $replace=t.id, run=run) %]],
                         [% jump(t.desig, view, tid=t.id) %],
                         v$t.ver<td>[% PROCESS typelist.tt rel=t.id %]
   [% END %]
   </table>