[% DEFAULT replace = 'tid' %]
[% DEFAULT view = me %]
[% DEFAULT run='nop' %]
   <h3>Flera ämnen har aliaset <code>[% q.param($replace) %]</code></h3>
   <table>
   [% FOREACH t IN list %]
      <tr><td>$t.id <td>[[% forward('välj', view, $replace=t.id, v=t.ver, run=run) %]],
                         [% jump(t.desig, view, tid=t.id, v=t.ver) %],
                         v$t.ver<td>[% PROCESS typelist.tt %]
   [% END %]
   </table>