[%-
cnt = q.param('count');
DEFAULT cnt = 0;
-%]
Detta brev är skickat via http://Paranormal.se av [% u.nickname %]
[% IF cnt == 1 %]speciellt till dig.
[% ELSIF cnt > 1 %]till ett urval av [% cnt %] medlemmar.
[% END +%]

[%+ q.param('body') | lf | autoformat %]
