Hej och välkommen till paranormal.se

Du kan logga in på paranormal.se med:

Användarnamn: [% m.nickname +%]
Lösenord    : [% m.passwd %]


Du kan gå till denna sida för att logga in automatiskt:

    http://[% host %]/?run=user_login&username=[% m.nickname | uri %]&password=[% m.passwd | uri %]
