[% META
	otitle = 'Inställningar - Radera medlem'
	next_action = 'member_delete'
	level = 41
%]

[% PROCESS load_member.tt %]

<h1>Inställningar - Radera medlem [% m.tlink %]</h1>

[% PROCESS person_view_menu.tt %]

<br><br><br>

<p align="center">[% step("RADERA") %]</p>
