[% META
	title = 'Denna runda är klar'
	default_template = 'focus.tt'
	level = 5
%]

<p>Det var allt för denna rundan. (Det här systemet är under
utveckling.  Det är inte så mycket du kan göra ännu...)</p>

[% step %]