[% META otitle = 'Statistik' %]

<h1 align="center">Statistik</h1>

[% PROCESS stats_menu.tt %]


<h2>Distribution av nivåer</h2>

<table><tr><th>Nivå</th><th>Antal</th></tr>
[% FOREACH select_list("select member_level, count(member) as cnt from member where member_level > 0 group by member_level order by member_level") %]
<tr><td>[% jump(member_level, '/member/db/person/find/advanced_result', _like_member_level=member_level) %]</td><td>$cnt</td></tr>
[% END %]
</table>

[% step %]
