[% IF m.present_interests >= 10 %]
[%
	max   = 20;
	cutof = 85;
	interests = m.interests.summary( max, cutof );
%]

<div id="sidebar">

<h2>Intressen</h2>
[% FOREACH intr = interests %]
   <span class="link">
      [% intr.topic.link %]<br>
      [% IF intr.comment %]
         - [% intr.comment | html %]<br>
      [% END %]
   </span>
[% END %]

[% INCLUDE present_rel_links type=12 %]
[% PROCESS present_0_links %]

</div>
[% END %]
