[% META title="Arctype list"
        level = 5;
%]

<p>
[ [% jump('Skapa ny', 'edit.tt' run='arctype_create') +%]
]</p>

<div class="entry">
<table>
   <tr>
      <th>Nr
      <th>Rel
      <th>Rev
      <th>Beskrivning
   </tr>

[% FOREACH at IN getarctype_list() %]
   [% tr2 %]
      <td>[% jump(at.id,'edit.tt' atid=at.id) %]
      <td>$at.rel_name
      <td>$at.rev_name
      <td>[% at.description | html | html_para %]
   </tr>
[% END %]
</table>
</div>

[% step %]
