[% META title = 'I väntan på e-post'
        level = 3
%]

<p>Då var det klart.  Vi skickar ett e-brev till dig när din ansökan kontrollerats.</p>

<p>Under tiden är du välkommen att fortsätta titta runt på webbplatsen.</p>

<p>Varför inte passa på att <a href="/member/chat/login.html">logga in på chatten</a>?
