    <meta http-equiv="Content-Language" content="se" />
    <link rel="Top" href="/index.html" />
    <link rel="Contents" href="/index.html" />
    <link rel="Index" href="/topic/" />
    <link rel="Help" href="/topic/paranormalse.html" />
    <link rel="Search" href="/search/search.html" />
