[% META
	title = 'Topic create form'
	next_template = '../edit/meta.tt'
	next_action = 'topic_create'
	level = 11
	focus = 'title'
%]

<p>Ange ämnets titel</p>

<p>[% input("title", q.param('t_title'), size=50) %]

[% step('Skapa') %]
