[% META
	title = 'Pågående registreringar'
%]

<p>Här är påbörjade registreringar.  Välj den registrering du vill
fortsätta med.</p>

<div class="entry">
<table>
[% FOREACH rec IN select_list("from member where member_level=1 and member>1000 order by member_created desc") %]
   [% m = members.get_by_id(rec.member, rec) %]
   [% tr2 %]<td align="right">[% loop.count %].<td>[% m.created %]<td>[% m.id %] <td>[% jump(m.nickname, 'email.tt', nick=m.nickname) %]

[% END %]
</table>
