[%
interest_helper = select_list("from intrest, member
              where intrest_member = member and intrest_topic=?
              and helper>=30 and intrest_defined>=50 and newsmail > 2
              and member_level > 0 and present_intrests >= 20
              order by (helper*2)+general_helper+coalesce(skill*3,0)+coalesce(experience*2,0)+knowledge+(newsmail*20)
              desc, practice desc limit ?", tid, interest_limit);
%]
