[% META
	title = 'Skicka lösenord'
	next_handler = '/login.tt'
	next_action = 'member_email_password'
	focus = 'nick'
%]

<p>Glömt ditt lösenord? Ingen fara.</p>

<p>Om du är registrerad och har angivit din e-postadress: Skriv in
ditt namn (<em>alias</em>) här, så skickar vi lösenordet med e-post
till alla de adresser du angivit.  Det går också bra att istället
skriva in din e-postadress här.</p>

<p>Medlem: [% input("nick") %] [% submit('Skicka') %]
