[% META title="Reltype list"
        level = 5;
%]

<p>
[ [% jump('Skapa ny', 'edit' run='reltype_create') +%]
]</p>

<div class="entry">
<table>
   <tr>
      <th>Nr
      <th>Rel
      <th>Rev
      <th>Beskrivning
   </tr>

[% FOREACH select_list("from reltype order by reltype") %]
   [% tr2 %]
      <td>[% jump(reltype,'edit.tt' reltype=reltype) %]
      <td>$rel_name
      <td>$rev_name
      <td>[% reltype_description | html | html_para %]
   </tr>
[% END %]
</table>
</div>

[% step %]
