[% IF u.complexity < 5; PROCESS tlink.tt; RETURN; END %]
[% DEFAULT t = topic(tid) %]
[% IF t.file %]
   [% jump(t.desig, t.file) %]
[%- ELSE %]
   <code>[% t.desig | html %]</code>
[%- END %],
v[% t.ver %]
<span class="typelist">[%+ t.type_list_string %]</span>
